body {
    font-family: 'Otomanopee One', sans-serif;
    text-transform: uppercase;
    overflow-x: hidden;
}
.header {
    background: #00516c;
    background-size: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__bg {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    letter-spacing: 2px;
}

.description {
    text-align: center;
    display: block;
    color: #5e5f5f;
    font-size: 26px;
    line-height: 40px;
    z-index: 10;
    padding: 40px 100px;
}

.insert-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
}

.insert-items div {
    flex: 0 0 30%;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.insert-items div img {
    width: 100%;
    max-width: 340px;
    max-height: 340px;
    overflow: hidden;
}

.insert-items div h2 {
    font-size: 26px;
    margin: 10px 0;
}

.insert-items div article, .insert-items div p {
    font-size: 16px;
    position: relative;
    line-height: 20px;
}

.insert-items div p:before {
    content: 'Preço: ';
    font-size: 10px;
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
}

.insert-items div article:before {
    content: 'Caracteristica: ';
    font-size: 10px;
    display: inline-block;
    margin-right: 10px;
    line-height: 20px;
}

.insert-items div button {
    background: #ff9400;
    color: #fff;
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 46px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    margin-top: 20px ;
    font-family: 'Otomanopee One', sans-serif;
    transition: all ease 0.4s;
    cursor: pointer;
}

.insert-items div button:hover {
    background: #00516c;
}

.footer div {
    background: #00516c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer p {
    color: #fff;
    font-size: 12px;
}


.linkedin svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: #fff;
}

.mini-cart {
    position: fixed;
    top: 0;
    right: 0;
    background: #fff;
    width: 30%;
    height: 100vh;
    padding: 30px;
    transition: all ease .5s;
    transform: translateX(110%);
}

.mini-cart.is--active {
    transform: translate(0);
}

.mini-cart .mini-cart__flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}

.mini-cart .mini-cart__image {
    width: 30%;
}

.mini-cart .mini-cart__image img {
    width: 100%;
    height: auto;
}

.mini-cart .mini-cart__wrapper {
    width: 60%;
}

@media only screen and (max-width: 767px) {
    .header {
        height: 150px;
        align-items: flex-end;
    }
    .banners {
        margin-top: 75px;
    }
    
    .target {
        top: 160px;
        font-size: 30px;
        letter-spacing: 2px;
        padding: 20px;
        width: 100%;
    }

    .target p {
        text-align: center;
    }

    .banners__flex {
        flex-direction: column;
        min-height: auto;
        max-height: auto;
    }

    .banners__flex div {
        width: 100%;
    }

    .banners__left img {
        width: 100%;
        position: relative;
        top: initial;
        left: initial;
    }

    .banners__button {
        top: 70px;
        left: 70%;
        width: 150px;
        height: 40px;
        font-size: 16px;
    }

    .banners__center article p {
        font-size: 30px;
        padding: 20px 20px 70px;
    }

    .banners__right {
        display: none;
    }

    .form {
        padding: 30px 0 70px;
    }

    .form > div {
        width: 100%;
    }

    .form__input {
        flex-direction: column;
        align-items: center;
    }
    .form__input input {
        width: 100%;
    }

    .form__input-name, .form__input-email {
        width: 90%;
        margin: 0 auto;
    }

    .form__input #name {
        border: 1px solid #5e5f5f;
    }

    #form_submit {
        right: 50%;
        transform: translate(50%);
    }
}